<tr>
  <td id="component"><%= component.name %><br><%= image_tag("location.jpg", height: '16', width: '16')+" "+(render partial: "location", object: component) unless component.location.empty? %></td><td><%= link_to image_tag("edit.png", height: '16', width: '16'), edit_component_path(component) %></td>
</tr>
<%= (render partial: "connection", object: component.next_connection) unless component.next_connection.nil? %>
<% if component.next_connection.nil? then %>
<tr>
  <td>
    <%= link_to 'New Connection', new_connection_path(previous_component_id: component) %>
  </td>
</tr>
<% end %>
