<%= form_for(connection) do |f| %>
  <% if connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h2>
      <ul>
      <% connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %>
    <%= f.text_field :identifier %>
  </div>

  <div class="field">
    <%= f.label :arrow_direction %>
    <%= f.radio_button(:arrow_direction, :arrow_up) %> &uarr;
    <span style="padding:20px;" > <%= f.radio_button(:arrow_direction, :arrow_down) %>  &darr;
  </div>

  <div class="field">
    <%= f.label :next_component %>
    <%= f.text_field :next_component_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
