<p id="notice"><%= notice %></p>

<p>
  <strong>Next Component:</strong>
  <%= @connection.next_component_id %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @connection.identifier %>
</p>

<p>
  <strong>Arrow Direction:</strong>
  <%= @connection.arrow_direction %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
