<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @monitoring.url %>
</p>

Display: <%= @state %>

<%= link_to 'Edit', sti_monitoring_path(@monitoring.type, @monitoring, :edit) %> |
<%= link_to 'Back', monitorings_path %>
